@model List<CategoriaVM>

<div class="row justify-content-between ">
    <div class="col-3">
        <h4>Categories</h4>
    </div>
    <div class="col-3 text-end">
        <a href="#" class="btn btn-success">Create new</a>
    </div>
</div>
<hr />

<table class="table table-striped">
    <thead>
        <tr>
            <th>Nombre</th>
            <th style="width:120px">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
            <tr>
                <td>@item.CategoriaNombre</td>
                <td style="width:120px">
                    <a href="#" class="btn btn-sm btn-primary"><i class="fa-solid fa-pen-to-square"></i></a>
                    <button class="btn btn-sm btn-danger"><i class="fa-solid fa-trash"></i></button>
                </td>
            </tr>
        }
    </tbody>
</table>